.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

.category-table th,
.category-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.category-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.category-row {
  text-align: left;
}

.pagination {
  margin-top: 20px;
}

.button {
  margin: 0 5px;
}