.all-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .product-grid {
    display: grid;
    grid-auto-columns: minmax(200px, auto);
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: 5fr 5fr 5fr;
    gap: 40px;
  }
  
  .product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #1dc44f;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    width: 200px;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
  }

.edit-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: fixed;
  background-color: #f9f9f9;
  width: 600px;
  height: 450px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 20px;
  z-index: 1;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-dropdown:focus-within .dropdown-content {
  display: block;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content input[type="text"],
.dropdown-content input[type="number"],
.dropdown-content button {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.dropdown-content .button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}

.delete-button {
  margin: 10px;
  background-color: rgb(199, 5, 5);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  overflow-wrap: break-word;
}