.login-button {
    margin: 10px;
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

/* Increasing font size for all text */
body {
    font-size: 20px; /* Adjust the value as needed */
  }
  
  /* Increasing font size for specific elements */
  .login-page h1 {
    font-size: 30px; /* Adjust the value as needed */
  }
  
  .login-page input[type="text"],
  .login-page input[type="password"] {
    font-size: 20px; /* Adjust the value as needed */
    padding: 15px; /* Adjust the value as needed */
    width: calc(100% - 30px); /* Adjust the value as needed */
    box-sizing: border-box;
  }
  
  /* Increasing padding for all input fields */
  input[type="text"],
  input[type="password"] {
    padding: 15px; /* Adjust the value as needed */
  }
  
  /* Increasing padding for specific input fields */
  .login-page input[type="submit"] {
    padding: 15px 30px; /* Adjust the value as needed */
  }
